/* figtree-500 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype'); 
  }

